body {
  background-color: rgb(27, 27, 27);
  color: white
}

.game-name {
  font-size: 30px;
}

.player-computer-move {
  font-size: 20px;
  font-style: italic;
}

.result {
  font-size: 20px;
  font-weight: bold;
}

.move-button {
  background-color: rgb(36, 5, 25);
  color: black;
  font-size: 20px;
  padding: 10px;
  margin: 10px;
  border: groove;
  cursor: pointer;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.move-icon {
  width: 40px;
  height: 40px;
  border: none;
}

.reset-button {
  background-color: rgb(255,163,26);
  padding-top: 8.5px;
  padding-bottom: 8.5px;
  padding-left: 16px;
  padding-right: 16px;
  font-weight: bold;
  margin: 9px;
  border-style: double;
  border-color: white;
  cursor: pointer;
  transition: box-shadow;
  transition-duration: .20s;
  vertical-align:top;
  border-width: 1.4px; 
}

.reset-button:hover {
  box-shadow: 2px 2px 5px rgba(255, 255, 255, .11);
}
 






